/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2015, 4:45:42 PM
    Author     : griffiths
*/


    


*{
    font-family: "jubilat", sans-serif;
    color: #A49438
}

body {
    margin: auto; 
    width: 80%;
    background-color: #8C4E41; 
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 

.welcome { 
    display: block;

    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.welcome2 { 
    display: block;
    -webkit-animation-delay: 3s; 
    animation-delay: 3s;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
     -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.started { 
    display: block;
    -webkit-animation-delay: 4s; 
    animation-delay: 4s;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
     -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

h1 {
    color: #D8C99E;
    text-align: center;
}

#partone {
    visibility: hidden; 

}

#parttwo {
    visibility: hidden; 
    //opacity: 0;

    
}

#partthree {
    visibility: hidden; 
    //opacity: 0; 

    
}

#questionthree {
    visibility: hidden; 
    //opacity: 0; 

  
}

#questionfour {
    visibility: hidden; 
    //opacity: 0;


}

#questionfive {
    visibility: hidden; 
    //opacity: 0; 

 
}

#questionsix {
    visibility: hidden; 
    margin-bottom: 800px;
    //opacity: 0; 

}

#button {
    visibility: hidden; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;  
    font-size: 1em;
    background-color: #A49438;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    border: none;
    color: #8C4E41
    
}

#questionone {
    
    visibility: hidden;

}

#getStarted {
    margin-top: 30px; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    visibility: visible;  
    font-size: 1em;
    background-color: #A49438;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    border: none;
    color: #8C4E41
    
}

#welcome {
    display: block;
    margin: auto; 
    width: 80%; 
    height: 80%; 

}

#welcome2 {
    font-family: "jubilat", sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.5em;
}

div {
    text-align: center;     
}

table { 
    border-collapse: collapse;
    border-spacing: 0; 
    margin: auto; 
   
}

.table {
    width: 80%; 
}

p {
    font-family: "jubilat", sans-serif;
    font-size: 1em; 
}

img {
    width: 90%;
    border-radius: 17px;
}

#heading {
    position: fixed;
}

.mini {
    width: 50%;
    height: 50%;
    margin: auto;
}

#yelp {
    width: 10%;
    position:fixed;
    bottom: 10px;
    left: 10px;
    
}

.table tr {
    vertical-align: baseline;
}

#output {
    margin: auto;
}

.restaurant-img {
    width: 150px;
    height: 150px;
}

.rating-img {
    width: 150px;
    height: auto;
    margin: 5px 0px 2px 0px;
}

.restaurant-name {
    font-size: 1.3em;
    color: tan;
}

.listing {
    width: 375px;
    float: left;
    margin: 10px;
    line-height: 140%;
}

.listing-left {
    float: left;
    margin-right: 7px;
    margin-top: 7px;
}

.listing-right {
    float: left;
    margin-top: 7px;
    
}

.clear-float {
    clear: both;
}
