/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2015, 4:45:42 PM
    Author     : griffiths
*/





*{
    font-family: "museo-slab", sans-serif;
    color: #717171;
    /* margin: auto; */
    /* text-align: center; */
}

body {
    background-image: url('/images/background_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin: auto; 
    /* background: rgba(255, 255, 255, 0.22); */   
    /* border-radius: 20px; */
    width: 80%;
}

td img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.42);
}

#content {
    background: rgba(255, 255, 255, 0.62);
    border-radius: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    /* margin-top: 50px; */
    margin-bottom: 50px;
    height: 200%;
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 

.welcome { 
    display: block;

    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.welcome2 { 
    display: block;
    -webkit-animation-delay: 3s; 
    animation-delay: 3s;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.started { 
    display: block;
    -webkit-animation-delay: 4s; 
    animation-delay: 4s;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

h1 {
    color: #D8C99E;
    text-align: center;
}

#partone {
    visibility: hidden; 

}

#parttwo {
    visibility: hidden; 
    //opacity: 0;


}

#partthree {
    visibility: hidden; 
    //opacity: 0; 


}

#questionthree {
    visibility: hidden; 
    //opacity: 0; 


}

#questionfour {
    visibility: hidden; 
    //opacity: 0;


}

#questionfive {
    visibility: hidden; 
    //opacity: 0; 


}

#questionsix {
    visibility: hidden; 
    margin-bottom: 800px;
    //opacity: 0; 

}
#button {
    visibility: hidden; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;  
    font-size: 1em;
    //background-color: #A49438;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    color: rgb(133, 135, 137);

}

#button:hover {
    visibility: hidden; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;  
    font-size: 1em;
    //background-color: #A49438;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    color: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background: rgb(133, 135, 137);

}



#startover {
    visibility: hidden; 
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 20px; */
    padding: 30px;  
    font-size: 1em;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    color: rgb(133, 135, 137);
}

#startover:hover {
    visibility: hidden; 
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 20px; */
    padding: 30px;  
    font-size: 1em;
    color: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background: rgb(133, 135, 137);
}

#questionone {

    visibility: hidden;

}

#getStarted {
    margin-top: 30px; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    visibility: visible;  
    font-size: 1em;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    color: rgb(171, 150, 44);
}

#getStarted:hover {
    margin-top: 30px; 
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    visibility: visible;  
    font-size: 1em;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    color: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    background: rgb(171, 150, 44);
}

#lastSearch {
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    visibility: visible;
    font-size: 1em;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    color: rgb(133, 135, 137);
}

#lastSearch:hover {
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    visibility: visible;
    font-size: 1em;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    color: rgba(255, 255, 255, 225);
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background: rgb(133, 135, 137);
}


#welcome {
    display: block;
    margin: auto; 
    width: 80%; 
    height: 80%; 
    max-width: 600px;
    /* image-rendering: pixelated; */
    padding-top: 30px;
    padding-bottom: 30px;
}

#welcome2 {
    font-family: "museo-slab", sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    /* background: rgba(255, 255, 255, 0.62); */
    /* border-radius: 20px; */
}

div {
    text-align: center;     
    margin: auto;
}

table { 
    border-collapse: collapse;
    border-spacing: 0; 
    margin: auto; 

}

#resultlogo {
    margin: auto;
    visibility: hidden;
}

.table {
    width: 100%; 
}

p {
    font-family: "museo-slab", sans-serif;
    font-size: 1.3em; 
    margin: auto;
    width: 95%;
    padding-bottom: 20px;
    padding-top: 20px;
}

img {
    width: 90%;
    border-radius: 17px;
    //box-shadow: blueviolet;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.42); */
}

#heading {
    position: fixed;
}

.mini {
    width: 85%;
    height: auto;
    margin: auto;
    max-width: 600px;
}

#yelp {
    max-width: 80px;
    width: 10%;
    position:fixed;
    left: 5px;
    bottom: 10px;

}

.table tr {
    vertical-align: baseline;
}

#output {
    display: inline-grid;
    margin: auto;
    width: 100%;
    text-align: center;
}

.restaurant-img {
    width: 150px;
    height: 150px;
}

.rating-img {
    width: 150px;
    height: auto;
    margin: 5px 0px 2px 0px;
}

.restaurant-name {
    font-size: 1.3em;
    color: tan;
}

.listing {
    width: 450px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    line-height: 140%;
    background: rgba(255, 255, 255, 0.35);   border-radius: 20px;   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.listing-left {
    float: left;
    margin-right: 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listing-right {
    float: left;
    margin-top: 10px;

    margin-left: 10px;
    text-align: left;
}

.clear-float {
    clear: both;
}


